
header{
	text-align: right;
	word-spacing: 5px;
	padding-right: 10px;
}
a{
	color: black;
	text-decoration: none;
}
.view{
	padding-top: 8px;
	position: relative;
	top: 3px;
}

mark{
	background-color: #fff;
}
ul li{
	padding: 0;
	display: inline;
}
.Sign_in{
	position: relative;
	top: -2px;
	background-color: #4285f4;
	color: white;
	border-radius: 5px;
}
.Sign_in:hover {
	background-color: #6868e7; 
	cursor: pointer;
}
.search_bar{
	width: 50%;
	height: 30px;
}
.search_bar:hover {
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.Gmail:hover, .Images:hover, .malagasy:hover, .francais:hover {
	text-decoration: underline;
	color: #4285f4;
	cursor: pointer;
}

.corps{
	padding: 109px;	
	text-align: center;
	line-height: 50px;
}
.go{
	
}
.langues{
	word-spacing: 5px;
}

.mada{
	padding-left: 20px;
}
.left{
	float: left;
	margin-left: -22px;
}
.right{
	float: right;
	padding-right: 18px;
}
.left, .right{
	word-spacing: 15px;
}
footer div ul li a:hover {
	text-decoration: underline;
}
hr {
	color: black;
	opacity: .1;
}

footer{
	margin:0 0;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #cacad2;
	width: 99.7%;
	position: absolute;
	bottom: 0;
	left: 0;
}